@import "./fonts/fonts.scss";
@import "./colors/colors.scss";

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

p,
small,
.small-text,
.body-text,
.caption {
	font-family: "Futura PT", sans-serif;
	font-weight: 400;
}

h1,
h2,
h3,
h4,
.large-text,
.title,
.headline {
	font-family: "Aspergit", sans-serif;
	font-weight: 400;
}

strong,
b {
	font-family: "Aspergit", sans-serif;
	font-weight: 700;
}

button {
	font-family: "Futura PT", sans-serif;
	font-weight: 700;
	text-transform: uppercase;
}
